* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 24px;
}

ul {
    margin-bottom: 50px;
  }

  .em-bloco li {
    background: aqua;
    margin-bottom: 10px;
    width: 140px;
  }
  

  .em-linha li {
    display: inline;
    background: aqua;
    /* nao faz diferença colocar autura ou largura em inline  */
  }

  .em-linha-e-bloco li {
    display: inline-block;
    background: aqua;
    width: 100px;
    height: 150px;
  }

  .esconder {
    display: none;
    background: aqua;
    width: 100px;
    height: 150px;
  }

